.benefits {
  &__label {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__list {
    display: flex;
    align-items: stretch;
    gap: 8px;

    @include mobile {
      @include center-columns;
    }
  }

  &__item {
    width: 100%;

    @include mobile {
      max-width: 430px;
    }
  }

  &__card {
    height: 100%;
  }
}
