:root {
  --color-light: #ffffff;
  --color-dark: #000;
  --color-dark-alt: #1f2937;
  --color-grey: #4b5563;
  --color-grey-alt: #6b7280;

  --color-teal: #0f4f57;
  --color-muted-teal: rgba(15, 79, 87, 0.7); // #0f4f57 70% opacity
  --color-dark-teal: rgba(15, 79, 87, 0.9); // #0f4f57 90% opacity

  --color-green: #286167;
  --color-soft-green: rgba(40, 97, 103, 0.07); // #286167 7% opacity
  --color-sea-green: rgba(40, 97, 103, 0.2); // #286167  20% opacity
  --color-mild-green: rgba(40, 97, 103, 0.05); // #286167 5% opacity
  --color-bright-green: #22C55E;
  --color-green-transparent: #f0fdf4;

  --color-ghost-light: #f7f7f8;
  --color-mist-light: #f7f7f9;
  --color-light-ash: rgba(31, 41, 55, 0.2);
  --color-soft-light: rgba(255, 255, 255, 0.2);
  --color-whispering-navy: rgba(30, 48, 93, 0.06);

  --color-silver: #f3f4f6;
  --color-light-silver: rgba(243, 244, 246, 0.7); // #f3f4f6 70%


  --border-color-aqua: #cce3e4; // used as tab button's border color
  --border-color-silver: var(--color-silver);
  --border-color-grey: rgba(
    17,
    24,
    39,
    0.05
  ); // used as borders at 'Documentation leveled up'
  --border-color-soft-grey: rgba(
    229,
    231,
    235,
    0.6
  ); // used as card's border at 'Built to impress'

  --border-grey: 1px solid var(--border-color-grey);
  --border-soft-grey: 1px solid var(--border-color-soft-grey);

  --background-pastel: linear-gradient(
    to right,
    #e7f5fd 0%,
    #e6f9f6 50%,
    #e3fcef 100%
  ); // used in header, hero

  --border-radius-m: 12px;
  --border-radius-l: 24px;
  --border-radius-xl: 28px;
  --border-radius-full: 999px;

  --shadow: 0 0 0 1px var(--color-whispering-navy),
    0 1px 2px 0 var(--color-whispering-navy);

  --box-shadow-overlap: 0 -103px 84px 58px var(--color-ghost-light);
  --box-shadow-overlap-alt: 0 -49px 54px 55px var(--color-ghost-light);

  --font-family: "Inter", sans-serif;

  --container-width: 1024px;
  --container-width-wide: 1152px;
  --container-padding-x: 16px;

  --section-padding-y: 65px;

  --button-height: 48px;
  --header-height: 85px;

  --transition-duration: 0.2s;

  @include mobile {
    --header-height: 70px;
    --section-padding-y: 45px;
  }
}
