/** box model tweak */
*,
::before,
::after {
  box-sizing: border-box;
}

/** List elements with class have no padding-left */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter28pt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter28pt-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #000;
  --color-dark-alt: #1f2937;
  --color-grey: #4b5563;
  --color-grey-alt: #6b7280;
  --color-teal: #0f4f57;
  --color-muted-teal: rgba(15, 79, 87, 0.7);
  --color-dark-teal: rgba(15, 79, 87, 0.9);
  --color-green: #286167;
  --color-soft-green: rgba(40, 97, 103, 0.07);
  --color-sea-green: rgba(40, 97, 103, 0.2);
  --color-mild-green: rgba(40, 97, 103, 0.05);
  --color-bright-green: #22C55E;
  --color-green-transparent: #f0fdf4;
  --color-ghost-light: #f7f7f8;
  --color-mist-light: #f7f7f9;
  --color-light-ash: rgba(31, 41, 55, 0.2);
  --color-soft-light: rgba(255, 255, 255, 0.2);
  --color-whispering-navy: rgba(30, 48, 93, 0.06);
  --color-silver: #f3f4f6;
  --color-light-silver: rgba(243, 244, 246, 0.7);
  --border-color-aqua: #cce3e4;
  --border-color-silver: var(--color-silver);
  --border-color-grey: rgba(
    17,
    24,
    39,
    0.05
  );
  --border-color-soft-grey: rgba(
    229,
    231,
    235,
    0.6
  );
  --border-grey: 1px solid var(--border-color-grey);
  --border-soft-grey: 1px solid var(--border-color-soft-grey);
  --background-pastel: linear-gradient(
    to right,
    #e7f5fd 0%,
    #e6f9f6 50%,
    #e3fcef 100%
  );
  --border-radius-m: 12px;
  --border-radius-l: 24px;
  --border-radius-xl: 28px;
  --border-radius-full: 999px;
  --shadow: 0 0 0 1px var(--color-whispering-navy),
    0 1px 2px 0 var(--color-whispering-navy);
  --box-shadow-overlap: 0 -103px 84px 58px var(--color-ghost-light);
  --box-shadow-overlap-alt: 0 -49px 54px 55px var(--color-ghost-light);
  --font-family: "Inter", sans-serif;
  --container-width: 1024px;
  --container-width-wide: 1152px;
  --container-padding-x: 16px;
  --section-padding-y: 65px;
  --button-height: 48px;
  --header-height: 85px;
  --transition-duration: 0.2s;
}
@media (max-width: 767px) {
  :root {
    --header-height: 70px;
    --section-padding-y: 45px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: calc(var(--container-width-wide) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hover-effect {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .hover-effect:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .hover-effect:active {
    opacity: 0.7;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-grey);
  background-color: var(--color-light);
}

section {
  padding-block: var(--section-padding-y);
  overflow: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1;
  color: var(--color-dark-alt);
}

h1,
.h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2,
.h2 {
  font-size: clamp(40px, 3.3333333333vw, 48px);
}

h3,
.h3 {
  font-size: clamp(30px, 2.5vw, 36px);
}

.burger-button {
  width: 40px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
.burger-button__line {
  width: 70%;
  height: 1px;
  background-color: var(--color-dark);
  box-shadow: 0 -8px 0 0 currentColor, 0 8px 0 0 currentColor;
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  --buttonContentBgColor: var(--color-green);
  --buttonSvgStrokeColor: var(--color-light);
  padding: 4px;
  color: var(--color-light);
  background-color: var(--color-sea-green);
  border-radius: var(--border-radius-full);
}
@media (hover: hover) {
  .button:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .button:active {
    opacity: 0.7;
  }
}
.button--transparent {
  --buttonContentBgColor: transparent;
  --buttonSvgStrokeColor: var(--color-teal);
  color: var(--color-teal);
  background-color: transparent;
}
.button--dark {
  --buttonContentBgColor: var(--color-dark-alt);
}
.button--light {
  --buttonContentBgColor: var(--color-light);
  color: var(--color-dark-alt);
}
.button--light svg {
  display: none;
}
.button--grey {
  --buttonContentBgColor: var(--color-light);
  padding: 0;
  color: var(--color-dark);
  border: var(--border-soft-grey);
}
.button--small {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 0;
  font-size: 14px;
  color: var(--color-dark-alt);
  background-color: var(--color-soft-light);
  border: none;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .button--small:hover {
    box-shadow: var(--shadow);
  }
}
@media (hover: none) {
  .button--small:active {
    box-shadow: var(--shadow);
  }
}
.button--small .button__icon {
  width: 20px;
  aspect-ratio: 1;
  border-radius: var(--border-radius-full);
}
.button--small .button__content {
  padding: 4px;
  padding-right: 10px;
  background-color: transparent;
}
.button__content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 8px 20px;
  border-radius: var(--border-radius-full);
  background-color: var(--buttonContentBgColor);
}
.button__content svg {
  width: 10px;
  aspect-ratio: 1;
  stroke: var(--buttonSvgStrokeColor);
}

.tabs {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--color-soft-green);
  border-radius: var(--border-radius-full);
  border: 1px solid var(--color-mild-green);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}
@media (max-width: 767px) {
  .tabs {
    width: clamp(21.875rem, -14.3029rem + 134.6154vw, 32.8125rem);
  }
}
.tabs__item {
  scroll-snap-align: start;
}
.tabs__button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: -moz-max-content;
  width: max-content;
  padding: 6px 16px;
  color: var(--color-muted-teal);
  border-radius: var(--border-radius-full);
}
.tabs__button svg {
  width: 22px;
  aspect-ratio: 1;
  color: var(--color-light);
}
.tabs__button svg path {
  stroke: var(--color-muted-teal);
}
.tabs__button.is-current {
  color: var(--color-teal);
  background-color: var(--color-light);
  border: 1px solid var(--border-color-aqua);
}
.tabs__button.is-current svg {
  color: var(--color-light);
}
.tabs__button.is-current svg path {
  stroke: var(--color-teal);
}

.section {
  padding-block: var(--section-padding-y);
  overflow-x: hidden;
}
.section--cyan-light {
  background-color: var(--color-cyan-light);
}
.section__header {
  margin-bottom: 64px;
  text-align: center;
}
@media (max-width: 767px) {
  .section__header {
    margin-bottom: 40px;
  }
}
.section__title {
  margin-bottom: 20px;
}

.label {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin-bottom: 28px;
  font-size: 14px;
  color: var(--color-dark-alt);
}
@media (max-width: 767px) {
  .label {
    margin-bottom: 15px;
  }
}
.label svg {
  width: 16px;
  aspect-ratio: 1;
  color: currentColor;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-weight: 500;
  color: var(--color-dark-teal);
}
@media (hover: hover) {
  .link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .link:active {
    opacity: 0.7;
  }
}
.link svg {
  width: 10px;
  aspect-ratio: 1;
  stroke: var(--color-dark-teal);
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  text-align: center;
}
.section-header h2 {
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .section-header {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .section-header {
    margin-bottom: 40px;
  }
}

.benefits-card {
  display: flex;
  justify-content: center;
  align-items: center;
  --benefitsCardOverlayOffsetX: 38px;
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  padding: 28px var(--benefitsCardOverlayOffsetX) 0;
  background-color: var(--color-silver);
  border-radius: var(--border-radius-m);
}
@media (max-width: 1023px) {
  .benefits-card {
    --benefitsCardOverlayOffsetX: 20px;
  }
}
@media (max-width: 767px) {
  .benefits-card {
    --benefitsCardOverlayOffsetX: 15px;
    padding-top: var(--benefitsCardOverlayOffsetX);
    background-color: transparent;
    border-radius: var(--border-radius-m) !important;
  }
}
.benefits-card--top-left-border-radius {
  border-top-left-radius: var(--border-radius-xl);
}
.benefits-card--top-right-border-radius {
  border-top-right-radius: var(--border-radius-xl);
}
.benefits-card--bottom-left-border-radius {
  border-bottom-left-radius: var(--border-radius-xl);
}
.benefits-card--bottom-right-border-radius {
  border-bottom-right-radius: var(--border-radius-xl);
}
@media (min-width: 768px) {
  .benefits-card--small {
    max-width: 336px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .benefits-card--small {
    max-width: 430px;
  }
}
.benefits-card--small .benefits-card__image {
  width: 285px;
  height: 285px;
}
.benefits-card--small .benefits-card__overlay {
  height: 90px;
}
@media (max-width: 767px) {
  .benefits-card--small .benefits-card__overlay {
    right: 50px;
    left: 50px;
  }
}
@media (max-width: 767px) {
  .benefits-card__image {
    max-width: 430px;
    width: 100%;
    height: auto;
  }
}
.benefits-card__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 10px;
  position: absolute;
  right: var(--benefitsCardOverlayOffsetX);
  bottom: 0;
  left: var(--benefitsCardOverlayOffsetX);
  height: 120px;
  padding-bottom: 27px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--color-ghost-light);
}
@media (max-width: 1023px) {
  .benefits-card__overlay {
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 10px;
  }
}
@media (max-width: 767px) {
  .benefits-card__overlay {
    right: 15px;
    left: 15px;
  }
}
.benefits-card__title {
  font-size: 14px;
  color: var(--color-dark);
}
.benefits-card__text {
  font-size: 12px;
  color: var(--color-grey-alt);
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  text-align: center;
}
@media (max-width: 480px) {
  .info-box {
    row-gap: 18px;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
  padding: 30px;
  padding-right: 55px;
  border: var(--border-grey);
}
@media (max-width: 767px) {
  .feature {
    padding: 25px;
    padding-right: 45px;
  }
}
.feature__text {
  color: var(--color-grey-alt);
}

.testimonials-card {
  padding: 30px;
  border: var(--border-soft-grey);
  border-radius: var(--border-radius-l);
}
@media (max-width: 767px) {
  .testimonials-card {
    padding: 20px;
  }
}
.testimonials-card__header {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-bottom: 20px;
}
.testimonials-card__picture {
  width: 40px;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: var(--border-radius-full);
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-card__name, .testimonials-card__position {
  font-size: 14px;
  line-height: 21px;
}
.testimonials-card__position {
  color: var(--color-grey-alt);
}

.image-wrapper {
  display: inline-flex;
  padding: 8px;
  background-color: var(--color-soft-green);
}
@media (max-width: 767px) {
  .image-wrapper {
    padding: 4px;
  }
}

.socials__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
.socials__link {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .socials__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .socials__link:active {
    opacity: 0.7;
  }
}
.socials__icon {
  width: 16px;
  aspect-ratio: 1;
}

.indicator {
  --indicatorStatusBackgroundColor: var(--color-green-transparent);
  --indicatorDotBackgroundColor: var(--color-bright-green);
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-dark-alt);
  border: 1px solid var(--color-silver);
  border-radius: var(--border-radius-full);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.indicator--green {
  --indicatorStatusBackgroundColor: var(--color-green-transparent);
  --indicatorDotBackgroundColor: var(--color-bright-green);
}
.indicator__status {
  width: 10px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--indicatorStatusBackgroundColor);
  border-radius: var(--border-radius-full);
}
.indicator__dot {
  width: 4px;
  aspect-ratio: 1;
  display: inline-block;
  background-color: var(--indicatorDotBackgroundColor);
  border-radius: var(--border-radius-full);
}

.settings__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.settings__button {
  padding: 0;
  background-color: transparent;
  border: none;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .settings__button:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .settings__button:active {
    opacity: 0.7;
  }
}
.settings__icon {
  width: 16px;
  aspect-ratio: 1;
}

.header {
  height: var(--header-height);
  color: var(--color-teal);
  background: var(--background-pastel);
}
@media (max-width: 1023px) {
  .header {
    font-size: 14px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 22px;
         column-gap: 22px;
  }
}
.header__menu-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  height: var(--header-height);
}
@media (hover: hover) {
  .header__menu-link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__menu-link:active {
    opacity: 0.7;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.hero {
  padding-bottom: 96px;
  background: var(--background-pastel);
}
@media (max-width: 767px) {
  .hero {
    padding-bottom: 60px;
  }
}
.hero__inner, .hero__text-content, .hero__media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__text-content {
  margin-bottom: 32px;
  text-align: center;
}
@media (max-width: 767px) {
  .hero__text-content {
    margin-bottom: 20px;
  }
}
.hero__title {
  max-width: 605px;
  margin-bottom: 20px;
}
.hero__description {
  max-width: 580px;
  line-height: 1.5;
}
.hero__buttons {
  margin-bottom: 68px;
}
@media (max-width: 767px) {
  .hero__buttons {
    margin-bottom: 40px;
  }
}
.hero__media {
  margin-bottom: 96px;
}
@media (max-width: 767px) {
  .hero__media {
    margin-bottom: 60px;
  }
}
.hero__tabs {
  margin-bottom: 24px;
}
.hero__info {
  margin-bottom: 66px;
  color: var(--color-muted-teal);
}
@media (max-width: 767px) {
  .hero__info {
    margin-bottom: 40px;
  }
}
.hero__partners-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 45px;
}
@media (max-width: 767px) {
  .hero__partners-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.benefits__label {
  margin-bottom: 24px;
}
.benefits__title {
  margin-bottom: 14px;
}
.benefits__body {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.benefits__list {
  display: flex;
  align-items: stretch;
  gap: 8px;
}
@media (max-width: 767px) {
  .benefits__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.benefits__item {
  width: 100%;
}
@media (max-width: 767px) {
  .benefits__item {
    max-width: 430px;
  }
}
.benefits__card {
  height: 100%;
}

.features {
  margin-inline: var(--container-padding-x);
  background-color: var(--color-light-silver);
  border-radius: var(--border-radius-l);
}
.features__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-bottom: var(--border-grey);
}
.features__background-image {
  position: absolute;
  z-index: -1;
  height: 100%;
}
.features__chat-image {
  margin-bottom: 30px;
}
.features__info-box {
  max-width: 310px;
  margin-bottom: 64px;
}
.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 0;
}
@media (max-width: 767px) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .features__list {
    grid-template-columns: 1fr;
  }
}

.testimonials {
  position: relative;
}
.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
@media (max-width: 1023px) {
  .testimonials__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .testimonials__grid {
    grid-template-columns: 1fr;
  }
}
.testimonials__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
@media (max-width: 1023px) {
  .testimonials__list {
    display: contents;
  }
}
.testimonials__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  box-shadow: var(--box-shadow-overlap);
  height: 1px;
}
@media (max-width: 1023px) {
  .testimonials__overlay {
    position: static;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 20px;
    box-shadow: none;
  }
}

.documentation__inner {
  padding-top: 140px;
  background-color: var(--color-light-silver);
  border-radius: var(--border-radius-l);
}
@media (max-width: 1280px) {
  .documentation__inner {
    padding-top: 100px;
  }
}
@media (max-width: 1023px) {
  .documentation__inner {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .documentation__inner {
    padding-top: 60px;
  }
}
.documentation__description {
  margin-bottom: 30px;
}
@media (max-width: 1023px) {
  .documentation__description {
    margin-bottom: 20px;
  }
}
.documentation__actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .documentation__actions {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.documentation__body {
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .documentation__body {
    flex-direction: column;
    row-gap: 30px;
  }
}
.documentation__credits {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  padding-top: 10px;
  background-color: var(--color-mist-light);
  box-shadow: var(--box-shadow-overlap-alt);
}
@media (max-width: 767px) {
  .documentation__credits {
    position: static;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
  }
}
.documentation__credits-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .documentation__credits-list {
    gap: 5px;
  }
}
@media (max-width: 480px) {
  .documentation__credits-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.documentation__attribution {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-alt);
}

.footer {
  padding-top: 80px;
  padding-inline: var(--section-padding-x);
}
.footer__main {
  display: flex;
  padding-bottom: 66px;
  border-bottom: 1px solid var(--color-silver);
}
@media (max-width: 767px) {
  .footer__main {
    padding-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .footer__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
.footer__branding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
}
@media (max-width: 480px) {
  .footer__branding {
    grid-column: -1/1;
    flex-direction: row;
    align-items: center;
    margin-right: unset;
  }
}
.footer__column--first {
  margin-right: 120px;
}
@media (max-width: 1023px) {
  .footer__column--first {
    margin-right: 80px;
  }
}
.footer__column-title, .footer__column-link {
  font-size: 14px;
  line-height: 20px;
}
.footer__column-title {
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  .footer__column-title {
    margin-bottom: 16px;
  }
}
.footer__column-list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
@media (max-width: 480px) {
  .footer__column-list {
    row-gap: 10px;
  }
}
.footer__column-link {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  color: var(--color-grey-alt);
}
@media (hover: hover) {
  .footer__column-link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .footer__column-link:active {
    opacity: 0.7;
  }
}
.footer__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 2px;
}
@media (max-width: 767px) {
  .footer__extra {
    padding-top: 40px;
  }
}
@media (max-width: 480px) {
  .footer__extra {
    flex-wrap: wrap;
    align-items: start;
    row-gap: 15px;
  }
}
.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-alt);
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 28px 17px;
  border: none;
}
@media (max-width: 767px) {
  .mobile-overlay {
    padding-block: 15px;
  }
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__close-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  background-color: transparent;
  border: none;
}
.mobile-overlay__close-button svg {
  width: 25px;
  height: 25px;
}
.mobile-overlay__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.mobile-overlay__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.mobile-overlay__link {
  color: var(--color-deep-teal);
}/*# sourceMappingURL=style.css.map */